*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
/* nav-bar */
.nav{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links-nav{
display: flex;
justify-content: space-between;
align-items: center;
width: 30%;
height: 50%;
}
.first-but{
    color: aliceblue;
    background-color: #6d48e5;
    border: none;
    width: 20%;
    height: 100%;
    border-radius: 40px;
}
.first-but:hover{
    box-shadow: 1px 1px 20px black;
    cursor: pointer;
}
.links-style{
    text-decoration: none;
}
/* nav-bar */
/* !section 1 */
.sec-1{
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.second-but{
    color: white;
    background-color: #6d48e5;
    padding: 10px;
    border-radius: 50px;
    border: none;
}
.second-but:hover{
    box-shadow: 1px 1px 20px black;
    cursor: pointer;
}

/* !section 1 */
/* *section 2 */
.the-main{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.description{
    text-align: center;
}
.sec-2{
    width: 99vw;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.boxs-width{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    align-items: center;

}
.icons-first-line{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.boxs-width i {
    background-color: rgb(202, 200, 200);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *section 2 */



/* ! section 3 start */
.section3 {
    height: 110vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

/* partie 1 */
.text-title {
    width: 39vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-title h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: rgb(61, 61, 61);
}

.text-title p {
    text-align: center;
    margin-top: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
}

/* partie 2 */

.photo-and-text-1 {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.text-1 {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4%;

}

.text-1 p {
    margin-top: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
}

.text-1 h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: rgb(61, 61, 61);
}

.text-1 a {
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
    font-weight: bold;
}

.text-1 a:hover {
    text-decoration: underline;
}

/* partie 3 */
.photo-and-text-2 {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.text-2 {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4%;
}

.text-2 p {
    margin-top: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
}

.text-2 h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: rgb(61, 61, 61);
}

.text-2 a {
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
    font-weight: bold;
}

.text-2 a:hover {
    text-decoration: underline;
}

/* ! section 3 end */

/* TODO section 4 start */
.section4 {
    height: 60vh;
    background-color: rgb(109, 72, 229, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* partie 1 */

.text {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.text p {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

/* partie 2 */
.percentage {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.percentage-1 {
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.percentage-1 h1 {
    font-size: 80px;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.percentage-1 p {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 0;
}

/* partie 3 */
.section4 a {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

.section4 a:hover {
    text-decoration: underline;
}

/* TODO section 4 end */

/* section 5 start */
.section5 {
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.h4-sec5 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(75, 74, 74);

}


i {
    font-size: 40px;
    margin-right: 30px;
}

.p-sec5 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 25vw;
    color: gray;
}

.area {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

.img2 {
    width: 40vw;
    height: 50vh;
}

.three-paragraph {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* section 5 end  */

/* ! footer start */
footer {
    background-color: rgb(246, 246, 253, 1);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partie1-footer p {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
    margin-bottom: 0;
    margin-top: 6vw;
}

.partie1-footer h1 {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(71, 71, 71);
    width: 50vw;
    margin-top: 0;
}

.partie2-footer {
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.partie2-footer input {
    width: 25vw;
    height: 6vh;
    margin-bottom: 10px;
    border-color: rgb(172, 149, 245);
    border-radius: 4px;
}


::placeholder {
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
    padding-left: 50px;
}

.partie2-footer button {
    width: 25.6vw;
    height: 7vh;
    border: none;
    background-color: rgb(109, 72, 229);
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 4px;
}

.partie2-footer button:hover {
    background-color: white;
    color: rgb(109, 72, 229);
}

.partie2-footer button:active {
    color: white;
    background-color: rgb(157, 132, 238);
}

.partie2-footer p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    text-align: center;
    color: gray;
}


/* partie 3 */
.partie3-footer {
    width: 80vw;
    position: relative;
    padding-top: 9vw;
}


.partie3-footer ul {
    width: 16vw;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
    padding-left: 0;
    position: absolute;
    right: 0;
    bottom: 20px;
}



.partie3-footer ul li:hover {
    text-decoration: underline;
}

.partie3-footer .p-mini-logo {
    color: rgb(109, 72, 229);
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.partie3-footer .p-copy {
    font-family: 'Trebuchet MS', sans-serif;
    color: gray;
    position: absolute;
    left: 40%;
    bottom: 20px;
}

/* ! footer end */

